PORT=5000
NODE_ENV=development
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=querylens
DATABASE_USER=querylens_app
DATABASE_PASSWORD=querylens_password
DATABASE_ADMIN_USER=querylens_admin
DATABASE_ADMIN_PASSWORD=querylens_admin_password
QUERY_TIMEOUT_MS=5000
MAX_HISTORY_ITEMS=100
